In [ ]:
# imports
import pandas as pd
import json

In [1]:
# lire dataset
df_taxi = pd.read_csv("../data/nyc_taxi.csv")

In [2]:
# lire les informations des anomalies
with open("../data/labels.json", 'r') as file:
    labels = json.load(file)

In [3]:
# mettre les informations des anomalies dans le dataset : 1 (= anomalie) et 0 (= non anomalie)
def create_datasets(df, path):
    anomaly_points = labels[path]
    print(anomaly_points)

    df['class'] = 0
    for start, end in anomaly_points:
        df.loc[((df['timestamp'] > start) & (df['timestamp'] < end)), 'class'] = 1

    print(df['class'].value_counts())

    return df

In [4]:
path = 'realKnownCause/nyc_taxi.csv'
df_taxi = create_datasets(df_taxi, path)

[['2014-10-30 15:30:00.000000', '2014-11-03 22:30:00.000000'], ['2014-11-25 12:00:00.000000', '2014-11-29 19:00:00.000000'], ['2014-12-23 11:30:00.000000', '2014-12-27 18:30:00.000000'], ['2014-12-29 21:30:00.000000', '2015-01-03 04:30:00.000000'], ['2015-01-24 20:30:00.000000', '2015-01-29 03:30:00.000000']]
0    9290
1    1030
Name: class, dtype: int64

In [5]:
df_taxi

                 timestamp  value  class
0      2014-07-01 00:00:00  10844      0
1      2014-07-01 00:30:00   8127      0
2      2014-07-01 01:00:00   6210      0
3      2014-07-01 01:30:00   4656      0
4      2014-07-01 02:00:00   3820      0
...                    ...    ...    ...
10315  2015-01-31 21:30:00  24670      0
10316  2015-01-31 22:00:00  25721      0
10317  2015-01-31 22:30:00  27309      0
10318  2015-01-31 23:00:00  26591      0
10319  2015-01-31 23:30:00  26288      0

[10320 rows x 3 columns]

In [6]:
# telecharge localement le dataset
df_taxi.to_csv('../data/nyc_taxi2.csv', index=False)